<ion-view view-title="Alarm">
  <ion-content class="padding">
    <div class="padding">
      <div class="padding-vertical">
        <h5 class="text-center">Click to edit</h5>

        <ionic-timepicker input-obj="timePickerObject">
          <h1 class="alarmTime">7:20</h1>
            <standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
          </button>
        </ionic-timepicker>
        <div class="card">
          <div class="item item-text-wrap">
            This is where travel updates will show up
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
