<ion-view view-title="Alarm">
  <ion-content class="padding" ng-controller="DashCtrl as dashCtrl">
    <div class="padding">
      <div class="padding-vertical">
        <h5 class="text-center">Click to edit</h5>
          <h1 class="alarmTime"><a href="#/tab/account">{{dashCtrl.alarmTime}}</a></h1>
        <div class="card">
          <div class="item item-text-wrap">
            {{dashCtrl.alert}}
          </div>
          <button type="button" ng-click="dashCtrl.getJourneyInfo()">Request data</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
